<div class="flex justify-center mt-2 mb-4">
  <input
    type="text"
    class="p-2 border-b border-solid border-black"
    placeholder="Search by title"
    [(ngModel)]="search"
    (ngModelChange)="searchBooks()">
</div>
<div class="flex justify-center">
  <div class="grid grid-cols-3 gap-1">
    <div *ngFor="let book of filter | paginate: { itemsPerPage: pageSize, currentPage: page } " class="p-4">
      <div class="p-2 mb-1 flex justify-center">
        <img
          [src]="book.cover_image"
          [alt]="book.title + ' cover image'"
          class="object-scale-down h-64 w-96">
      </div>
      <div class="border-dashed border-b border-black p-2 text-center">
        <p
          class="text-lg font-semibold cursor-pointer"
          (click)="bookDetails(book)">{{ book.title }}</p>
        <p
          class="text-sm text-gray-700">
          {{ book.author }},
          {{ book.publication_year }}</p>
      </div>
      <div class="flex justify-center space-x-4 mt-2">
        <button (click)="like(book)"
                [class.bg-red-700]="!book.liked"
                [class.text-white]="!book.liked"
                [class.bg-white]="book.liked"
                [class.text-black]="book.liked"
                class="font-bold py-2 px-4 mt-1 rounded-lg shadow-md
                focus:outline-none focus:ring-2 focus:ring-red-500">
          {{ book.liked ? 'Liked' : 'Like' }}
        </button>
        <button (click)="comments(book)"
                class="font-bold py-2 px-4 mt-1 rounded-lg shadow-md
               bg-green-500 text-white
               focus:outline-none focus:ring-2 focus:ring-green-500">
          Comments
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center text-sm mt-10">
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
