<div class="flex justify-center mt-2 mb-4">
  <input
    type="text"
    class="p-2 border-b border-solid border-black"
    placeholder="Search by title"
    [(ngModel)]="search"
    (ngModelChange)="searchBooks()">
</div>
<div class="flex justify-center">
  <div class="grid grid-cols-3 gap-1">
    <div *ngFor="let book of filter | paginate: { itemsPerPage: pageSize, currentPage: page } " class="p-4">
      <div class="p-2 mb-1 flex justify-center">
        <img [src]="book.cover_image" [alt]="book.title + ' cover image'" class="object-scale-down h-64 w-96">
      </div>
      <div class="border-dashed border-b border-black p-2 text-center">
        <p class="text-lg font-semibold">{{ book.title }}</p>
        <p class="text-sm text-gray-700">{{ book.author }}, {{ book.publication_year }}</p>
      </div>
      <div class="flex justify-center space-x-4 mt-2">
        <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-1 px-3 rounded-full">
          Like
        </button>
        <button class="bg-gray-400 hover:bg-gray-700 text-white font-bold py-1 px-3 rounded-full">
          Comment
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center text-sm mt-10">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
